<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>表单添加和修改用户信息</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <FORM method="post" action="__URL__/addUserByForm">
                  <!--用户id：<INPUT type="text" name="userId"><br/>-->
                  内容：<TEXTAREA name="user_data" rows="5" cols="45"></TEXTAREA><br/>
                  <INPUT type="submit" value="提交">
                  <INPUT type="reset" value="清空">
            </FORM>
        </div>
        
        <p></p>
        
        <div style="background-color: #aaaaaa;margin-top: 50px">
            <FORM method="post" action="__URL__/updataUserByForm">
                  用户id：<INPUT type="text" name="user_id"><br/>
                  内容：<TEXTAREA name="user_data" rows="5" cols="45"></TEXTAREA><br/>
                  <INPUT type="submit" value="修改">
                  <INPUT type="reset" value="清空">
            </FORM>
        </div>
        
        <div style="background-color: #666666;margin-top: 100px">
            <FORM method="post" action="__URL__/addUserInfoByForm">
                  用户id：<INPUT type="text" name="user_id"><br/>
                  年龄：<INPUT type="text" name="age"><br/>
                  性别：<INPUT type="text" name="sex"><br/>
                  住房地址：<INPUT type="text" name="house_address"><br/>
                  工作地址：<INPUT type="text" name="job_address"><br/>
                  <INPUT type="submit" value="添加">
                  <INPUT type="reset" value="清空">
            </FORM>
        </div>
    </body>
</html>
